html, body {
    height: 100%;
    margin: 0;
    background-color: pink; /* Example background color */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: pink;
}

.full-height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}